.notification {
  padding: 15px;
  border-radius: 5px;
  margin: 15px 0;
  position: relative;
  width: max-content;
}

.notification.success {
  background-color: #d4edda;
  border: 1px solid #c3e6cb;
  color: #155724;
}

.notification.info {
  background-color: #cce5ff;
  border: 1px solid #b8daff;
  color: #004085;
}

.notification.fail {
  background-color: #f8d7da;
  border: 1px solid #f5c6cb;
  color: #721c24;
}

button {
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-weight: bold;
}
