/* General Form Styling */
.custom-note-form form {
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
}

.custom-note-form > div:first-child {
  max-width: 600px;
  padding: 20px;
  background-color: #f5f5f5;
  border-radius: 5px;
  margin: 0 auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.new-note-section, .search-section {
  display: flex;
  align-items: flex-start;
}

.note-and-tag {
  display: flex;
}

.create-note, .tag-section, .search-section {
  flex: 1;
  margin-right: 20px;
}

.custom-note-form label {
  margin-bottom: 5px;
}

.custom-note-form input[type="text"],
.custom-note-form textarea,
.custom-note-form select {
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  width: 100%; /* Ensure full width for smaller screens */
}

.custom-note-form textarea {
  resize: vertical; /* Allow the textarea to be resized vertically */
  min-height: 100px; /* Set a minimum height for the textarea */
}

.custom-note-form input[type="text"],
.custom-note-form textarea {
  height: 30px; /* Align the height of text inputs and textareas */
}

.custom-note-form button {
  padding: 8px;
  margin-top: 8px; /* Provide spacing above the button */
  border-radius: 3px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.custom-note-form button:last-child {
  background-color: #dc3545;
}

.custom-note-form button:hover {
  filter: brightness(90%);
}

.search-section {
  padding-bottom: 20px;
  border-bottom: 1px solid #ccc; /* Visual separation from rest of form */
  margin-bottom: 20px; /* Spacing before listing notes */
}

.tag-section {
  margin-bottom: 15px;
}
